
/*small tablets to big tablets */
@media only screen and (max-width: 1200px) {
    
    .hero-textbox {
        width: 100%; 
        padding: 0 2%;
    }

    .row {padding: 0 2%;}

}

/*small tablets */
@media only screen and (max-width: 1042px) {
    
    body {font-size: 18px;}
    section {padding: 60px 0;}
    .long-copy {
        width: 80%;
        margin-left: 10%;  
    }

    .steps-box:first-child { margin-top: 10px;}
    .steps-box:last-child {margin-top: 35px;}
    .app-screen { width: 50%;}
    .work-steps { margin-bottom: 40px;}
    
    .btn-app img {
        height: 45px;
        margin-right: 10px;  
    }
    .work-steps:last-of-type { margin-bottom: 60px;}

    .icon-small {
        width: 15px;
        margin-right: 5px;
    }
    .city-features {font-size: 87%;}

    blockquote {font-size: 93%;}
    cite  {font-size: 83%;}

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    .plan-price { font-size: 250%; }

    .contact-form { width: 90%;}
}

/*small phones to small tablets*/
@media only screen and (max-width: 767px) {
    
    body {font-size: 16px;}
    section {padding: 35px 0;}
    h1 {font-size: 180%;}
    h2 {font-size: 150%;}

    .main-nav {display: none;}

    .mobile-nav {
        display: inline-block;
        border: 0 ; 
    }

    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }

    .main-nav li { display: block;}

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        color: #555;
        padding: 10px 0;
    }
    
    .sticky .main-nav {margin-top: 10px;}
    .sticky .mobile-nav {margin-top: 10px;}
    .sticky .mobile-nav i {color: #555;}

    .long-copy {
        width: 100%;
        margin-left: 0%;  
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .hero-textbox {padding: 0 4%;}
    .city-features {
        font-size: 100%;
        
    }

    .app-screen { width: 35%;}
    .work-steps { margin-bottom: 25px;}
    .work-steps:last-of-type { margin-bottom: 40px;}
    .steps-box:first-child { text-align: center;}
    .btn-app img { margin-right: 20px;}
    .work-steps {margin-bottom: 30px;}
    .work-steps div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        margin-bottom: 2px;
        padding: 4px; 
        font-size: 120%;
    }

    .box img {
        width: 70%;
    }
    .section-cities h3 {
        
        font-size: 150%;
    }

    blockquote {font-size: 100%;}
    cite  {font-size: 90%;}

    .row,
    .hero-textbox {padding: 0 5%;}

    footer  .col {
        width: 50%;
    }

    footer {
        padding: 30px;
    }
    
    .section-cities .box {
        text-align: center;
    }

    .map {
        width: 100%;
        height: 300px;
        position: relative;
        z-index: 0;
    }
    .map-box {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .form-box {
        position: relative;
        height: auto;
        width: 100%;
        padding: 30px 0; 
    }
}

/*small phones*/
@media only screen and (max-width: 480px) {

    section {padding: 25px 0;}
    .contact-form {width: 100%;}
}

@media only screen and (max-width: 844px) {

    .footer-nav li,
    .social-links li {
        display: block;
        margin-bottom: 10px;
    }
    footer p {
        margin-top: 0;
    }

    .btn-app img {height: 39px;  }
}