/* ----------------------------------------- */
/* ----------BASIC-SETUP-------------------- */
/* ----------------------------------------- */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,body {
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/* ----------------------------------------- */
/* ----------REUSABLE CONTENT--------------- */
/* ----------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.section-meal{
    padding: 0;
}

.section-steps {
    background-color: #f4f4f4;
}

.btn-app{
    border: 0;
}
/* ------HEADINGS------ */

h1,h2,h3 {
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    width:  100px;
    background-color: #e67e22;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


/* ------PARAGRAPH------ */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;  
}
 
.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ------BUTTONS------ */

.btn,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    color: #fff;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-right: 15px; 
}

.btn-ghost {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active{
    color: #fff; 
}

.btn-full:hover,
.btn-full:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

/* ------ICONS------ */

.icon-big {
    font-size: 350%;
    color: #e67e22;
    display: block;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    color: #e67e22;
    margin-right: 10px;
    font-size: 120%;
    text-align: center;
    width: 30px;

    /*Secrets to Align icons and text */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

/* ------LINKS------ */

a {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding: 1px;
    -webkit-transition: border 0.2s color 0.2s;
    transition: border 0.2s color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----------------------------------------- */
/* ---------FEATURES_CONTENT---------------- */
/* ----------------------------------------- */


/* ----------------------------------------- */
/* ----------HEADER-CONTENT----------------- */
/* ----------------------------------------- */

header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(imgs/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(imgs/hero.jpg);  
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-textbox {
    position: absolute;
    width: 1140px; 
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}


/* Main navi*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    border-bottom: 2px solid #e67d2200;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* Mobile navi*/

.mobile-nav {
    float: right;
    display: none;
    margin-top: 30px;
    cursor: pointer;
}

.mobile-nav i {
    font-size: 200%;
    color: #fff;
}

/* Sticky navi*/

.sticky {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.979);
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a {
    color: #555;
    padding: 18px 0;
}

.sticky .logo-black {display: block;}
.sticky .logo {display: none;}

.sticky .main-nav {
    margin-top: 18px;
}
/* ----------------------------------------- */
/* ----------MEALS-CONTENT----------------- */
/* ----------------------------------------- */


.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}


.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    width: 25%;
    display: block;
    float: left;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    opacity: 0.7;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 1;
}   


/* ----------------------------------------- */
/* ----------How it Works  ----------------- */
/* ----------------------------------------- */


.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 80px; 
}

.app-screen {
    width: 40%;
}

.work-steps {
    margin-bottom: 50px;
}

.work-steps div {
    border: 2px solid #e67e22;
    color: #e67e22;
    border-radius: 50%;
    text-align: center;
    height: 55px;
    width: 55px;
    display: inline-block; 
    float: left;
    margin-right: 25px;
    padding: 5px;
    font-size: 150%;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;  
}

.work-steps:last-of-type {
    margin-bottom: 80px;
}

/* ----------------------------------------- */
/* ----------CITIES         ----------------- */
/* ----------------------------------------- */


.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-features {
    margin-bottom: 5px;
}

/* ----------------------------------------- */
/* ----------Testimonials ----------------- */
/* ----------------------------------------- */

.section-testimonials {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.801)),to(rgba(0, 0, 0, 0.801))),url(imgs/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.801),rgba(0, 0, 0, 0.801)),url(imgs/back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

blockquote {
    padding: 2%;
    line-height: 145%;
    font-style: italic;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5%;
    left: -5%;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* ----------------------------------------- */
/* ----------SIGN UP ----------------- */
/* ----------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    width: 90%;
    background-color: #fff;
    margin-left: 5%;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    font-weight: 100;
    color: #e67e22;
    margin-bottom: 10px
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/* ----------------------------------------- */
/* ----------FORM ----------------- */
/* ----------------------------------------- */

.map {
    width: 100%;
    height: 560px;
    z-index: 0;
}
.map-box {
    width: 100%;
    height: 560px;
    position: relative;
}

.form-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 560px;
    width: 50%;
    padding-top: 40px; 
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

.contact-form {
    width: 80%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;

}

*:focus {
    outline: none;
}

/* ----------------------------------------- */
/* ----------Footer ----------------- */
/* ----------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}


.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float:right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right:20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a,
.social-links li a {
    text-decoration: none;
    color: #888;
    border: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.social-links li a:hover {
    color: #ddd;
}

.social-links li a {
    font-size: 160%;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #e95950;
}

footer p {
    color: #888;
    margin-top: 20px;
    text-align: center;
}

/* ----------------------------------------- */
/* ----------Animation ----------------- */
/* ----------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.js--wp-1.animate,
.js--wp-2.animate,
.js--wp-3.animate {
    opacity: 1;
}